html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
p{
font-family: 'ZCOOL KuaiLe', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Anton', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Alfa Slab One', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Uncial Antiqua', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Modak', cursive;
font-family: 'Bangers', cursive;
font-family: 'VT323', monospace;
font-family: 'Ultra', serif;
font-family: 'Sigmar One', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Monoton', cursive;
font-family: 'Black And White Picture', sans-serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Bevan', cursive;
font-family: 'Black Ops One', cursive;
font-family: 'Knewave', cursive;
font-family: 'Titan One', cursive;
font-family: 'Diplomata', cursive;
font-family: 'Shojumaru', cursive;
font-family: 'Petit Formal Script', cursive;
font-family: 'Aclonica', sans-serif;
font-family: 'Major Mono Display', monospace;
font-family: 'Bungee Inline', cursive;
font-family: 'Limelight', cursive;
font-family: 'Ceviche One', cursive;
font-family: 'Freckle Face', cursive;
font-family: 'Merienda One', cursive;
font-family: 'Faster One', cursive;
font-family: 'Rye', cursive;
font-family: 'UnifrakturMaguntia', cursive;
font-family: 'Vast Shadow', cursive;
font-family: 'Hanalei Fill', cursive;
font-family: 'Finger Paint', cursive;
font-family: 'Eater', cursive;
font-family: 'Fontdiner Swanky', cursive;
font-family: 'Creepster', cursive;
font-family: 'Vampiro One', cursive;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Kranky', cursive;
font-family: 'Frijole', cursive;
font-family: 'Princess Sofia', cursive;
font-family: 'Condiment', cursive;
}
